@import "./variables.scss";

@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";

@import "~uikit/src/scss/uikit-theme.scss";

@mixin shew-y($deg) {
  transform: skewY(1deg * $deg);

  > * {
    transform: skewY(-1deg * $deg);
  }
}

#navbar-logo {
  font-family: Pacifico;
  color: white;
}

.text-orange- {
  &900 {
    color: #7b341e;
  }

  &500 {
    color: #ed8936;
  }
}

@for $deg from 2 to 10 {
  .skew-y-#{$deg} {
    @include shew-y($deg);
  }
}

.padding-xlarge {
  &-top {
    padding-top: 10rem;
  }

  &-bottom {
    padding-bottom: 10rem;
  }
}

.link- {
  text-decoration: none;
  color: $global-color;

  &twitter:hover {
    color: #4299e1 !important;
  }

  &mastodon:hover {
    color: #4a5568 !important;
  }

  &gitlab:hover {
    color: #ed8936 !important;
  }

  &github:hover {
    color: #a0aec0 !important;
  }
}

.active-link {
  color: #fffaf0 !important;
}
