.html5 {
  color: #cc5200;
}

.css3-alt {
  color: #1636b0;
}

.js {
  color: #b8a507;
}

.vuejs {
  color: #338f70;
}

.python {
  color: #2f6086;
}

.linux {
  color: black;
}

.fedora {
  color: #0059a1;
}

.gitlab {
  color: #b53e02;
}

.docker {
  color: #1089b2;
}
