@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: "Roboto";
  src: url("~static/fonts/Roboto/Roboto-Bold.ttf") format("TrueType");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("~static/fonts/Roboto/Roboto-Regular.ttf") format("TrueType");
  font-weight: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("~static/fonts/Pacifico/Pacifico-Regular.ttf") format("TrueType");
  font-weight: normal;
}

$background-image: url("../images/mainBg2.jpg");

@import "~assets/scss/icons.scss";
@import "~/assets/scss/dark-mode";
@import "~/assets/scss/responsive";

body,
#__nuxt,
#__layout,
main {
  @apply min-h-screen;
}

body {
  background-image: $background-image;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  @apply text-default text-sm;
}

h1,
h2 {
  @apply text-center;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

input:not([type="file"]),
textarea {
  @apply border border-primary p-1 rounded transition-colors duration-300;
  &:focus {
    @apply border-inverse-primary outline-none;
  }
}

textarea {
  @apply w-full resize;
}

.pacifico {
  font-family: "Pacifico", sans-serif;
}

.active-link {
  @apply text-primary font-semibold;
}

a {
  @apply text-secondary;
  &.active-link {
    cursor: default;
  }

  &:not(.active-link):hover {
    @apply text-primary;
  }
}

.btn {
  @apply p-3 font-bold;
  &.btn-primary {
    @apply text-primary bg-inverse-primary rounded transition-all duration-300 border border-transparent;
    &:hover {
      @apply bg-inverse-default text-default shadow border-inverse-primary;
    }
  }
}

.skew {
  @apply bg-inverse-default transform skew-y-3 py-20 px-5 my-20 text-center;
  > * {
    @apply transform -skew-y-3;
  }
}

.container > * {
  @apply w-full;
  p {
    @apply text-center;
  }
}

.card {
  @apply p-5 bg-inverse-default rounded;
  &.card-hover {
    @apply transition-shadow duration-300;
    &:hover {
      @apply shadow-2xl;
    }
  }

  &.card-transparent {
    @apply bg-transparent;
  }

  &.card-small {
    @apply p-2;
  }
}

.main-section {
  @apply mt-20 min-h-screen;
  .main-section-header {
    @apply py-16;
  }
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-300;
}

.page-enter,
.page-leave-active {
  @apply opacity-0;
}
